{% load static %}


<header class="header-area header-style-3 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">09190728649</a></li>
                            <li><i class="fi-rs-marker"></i><a  href="page-contact.html">مکان ما</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>تا 50 ٪ تخفیف از دستگاه های عالی استفاده کنید</li>
                                <li>معاملات ارزش شام - با کوپن ها بیشتر ذخیره کنید</li>
                                <li>جواهرات مرسوم ، مرسوم ، مد روز ، امروز 35 درصد </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li><i class="fi-rs-user"></i><a href="page-login-register.html">ورود / ثبت نام</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="index.html"><img src="{%static "imgs/theme/logo.svg" %}"  alt="لوگو"></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">
                            <select class="select-active">
                                <option>دسته بندی ها</option>
                                <option>زنان</option>
                                <option>مردان</option>
                                <option>دسته بندی ها</option>
                                <option>زنان</option>
                                <option>مردان</option>
                                <option>تلفن های همراه</option>
                                <option>کامپیوتر</option>
                                <option>الکترونیک</option>
                                <option>تجهیزات جانبی</option>
                                <option>خانه و باغ</option>
                                <option>بار مسافر</option>
                                <option>کفش</option>
                                <option>مادر و بچه ها</option>
                            </select>
                            <input type="text" placeholder="موارد را جستجو کنید...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img class="svgInject" alt="اوارا" src="{%static "imgs/theme/icons/icon-heart.svg" %}" >
                                    <span class="pro-count blue">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="اوارا" src="{%static "imgs/theme/icons/icon-cart.svg" %}" >
                                    <span class="pro-count blue">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="اوارا" src="{%static "imgs/shop/thumbnail-3.jpg" %}" ></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">کیسه گاه به گاه دیزی</a></h4>
                                                <h4><span>1 × </span> <asd>تومان</asd> 800.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="اوارا" src="{%static "imgs/shop/thumbnail-2.jpg" %}" ></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">پیراهن های کوردوروی</a></h4>
                                                <h4><span>1 × </span> <asd>تومان</asd> 3200.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>کل <span> <asd>تومان</asd> 4000.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html" class="outline">مشاهده سبد خرید</a>
                                            <a href="shop-checkout.html">صورت حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative  main-nav">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index.html"><img src="{%static "imgs/theme/logo.svg" %}" alt="لوگو"></a>
                </div> 
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categori-button-active" href="#">
                            <span class="fi-rs-apps"></span> دسته ها را مرور کنید
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-large">
                            <ul>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-dress"></i>زنان لباس</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">داغ و روند</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">ساق پوش</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">دامن</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شلوار کوتاه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شلوار جین</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شلوار و کاپریس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">مجموعه های بیکینی</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">پوشش</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس شنا</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">داغ و روند</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">بلوز و پیراهن</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">پیراهن و پیراهن پیراهن</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">ست زنانه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس و جلیقه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تانک ها و کامیس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کت و کت</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="{%static "imgs/banner/menu-banner-2.jpg" %}" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% تخفیف</h6>
                                                        <h4>ورود جدید</h4>
                                                        <a href="#">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="{%static "imgs/banner/menu-banner-3.jpg" %}" alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% تخفیف</h6>
                                                        <h4>معاملات داغ</h4>
                                                        <a href="#">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>لباس مردان</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">کت و کت</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کاپشن های پایین</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کاپشن</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">پارکینگ</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کتهای چرمی فاکس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">ترنش</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">پشم و مخلوط</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">جلیقه و کمر</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کتهای چرمی</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">لباس و جلیقه</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">جنجال</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کت کت</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شلوار کت و شلوار</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">جلیقه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">لباس های خیاطی</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">پوشش</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="{%static "imgs/banner/menu-banner-4.jpg" %}" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% تخفیف</h6>
                                                        <h4>ورود جدید</h4>
                                                        <a href="#">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> تلفن های همراه</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">داغ و روند</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تلفن های همراه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">آیفون</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تلفن های مرمت شده</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تلفن همراه</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تلفن همراه پارت ها</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">کیسه های تلفن و موارد</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">تجهیزات ارتباطات</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">بیسیم</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">تجهیزات جانبی</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">محافظ صفحه نمایش</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شارژرهای سیم</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شارژرهای بی سیم</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شارژر ماشین</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">بانک برق</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">بازوبند</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">شاخه گرد و غبار</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">بوسترهای سیگنال</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="{%static "imgs/banner/menu-banner-5.jpg" %}" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% تخفیف</h6>
                                                        <h4>ورود جدید</h4>
                                                        <a href="#">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="{%static "imgs/banner/menu-banner-6.jpg" %}" alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% تخفیف</h6>
                                                        <h4>معاملات داغ</h4>
                                                        <a href="#">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>کامپیوتر و دفتر</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>الکترونیک مصرف کننده</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>جواهرات و لوازم جانبی</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>خانه و باغ</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>کفش</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>مادر و بچه ها</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>تفریح در فضای باز</a></li>
                                <li>
                                    <ul class="more_slide_open" style="display: none;">
                                        <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>زیبایی و سلامت</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>کیف و کفش</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>لوازم الکترونیکی مصرف کننده</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>اتومبیل و موتور سیکلت</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="more_categories">اطلاعات بیشتر...</div>
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active" href="index.html">خانه <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">خانه 1</a></li>
                                        <li><a href="index-2.html">خانه 2</a></li>
                                        <li><a href="index-3.html">خانه 3</a></li>
                                        <li><a href="index-4.html">خانه 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="page-about.html">درباره ما</a>
                                </li>
                                <li><a href="shop-grid-right.html">فروشگاه <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-grid-right.html">فروشگاه گرید – سایدبار راست</a></li>
                                        <li><a href="shop-grid-left.html">فروشگاه گرید – سایدبار چپ</a></li>
                                        <li><a href="shop-list-right.html">لیست فروشگاه – سایدبار راست</a></li>
                                        <li><a href="shop-list-left.html">لیست فروشگاه – سایدبار چپ</a></li>
                                        <li><a href="shop-fullwidth.html">فروشگاه - تمام صفحه</a></li>
                                        <li><a href="#">محصول تکی <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu">
                                                <li><a href="shop-product-right.html">محصول – سایدبار راست</a></li>
                                                <li><a href="shop-product-left.html">محصول – سایدبار چپ</a></li>
                                                <li><a href="shop-product-full.html">محصول – بدون سایدبار</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-filter.html">فروشگاه – فیلتر</a></li>
                                        <li><a href="shop-wishlist.html">فروشگاه – ویش لیست</a></li>
                                        <li><a href="shop-cart.html">فروشگاه – کارت</a></li>
                                        <li><a href="shop-checkout.html">فروشگاه – صورتحساب</a></li>
                                        <li><a href="shop-compare.html">فروشگاه – مقایسه</a></li>
                                    </ul>
                                </li>
                                <li class="position-static"><a href="#">مگا منو <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">مد زنان</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">لباس</a></li>
                                                <li><a href="shop-product-right.html">بلوز و پیراهن</a></li>
                                                <li><a href="shop-product-right.html">پیراهن و پیراهن پیراهن</a></li>
                                                <li><a href="shop-product-right.html">لباسهای عروسی</a></li>
                                                <li><a href="shop-product-right.html">لباس های تبلیغاتی</a></li>
                                                <li><a href="shop-product-right.html">لباس های کاس پلی</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">مد مردان</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">کاپشن</a></li>
                                                <li><a href="shop-product-right.html">کیف ابریشم با طراوت</a></li>
                                                <li><a href="shop-product-right.html">چرم اصلی</a></li>
                                                <li><a href="shop-product-right.html">شلوار مناسب پیاده روی</a></li>
                                                <li><a href="shop-product-right.html">شلوار جین</a></li>
                                                <li><a href="shop-product-right.html">شلوار کارگو</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">تکنولوژی</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">                                           <li><a href="shop-product-right.html">لپ تاپ های بازی</a></li>
</a></li>
                                                <li><a href="shop-product-right.html">لپتاپ های اولترا شارژ</a></li>
                                                <li><a href="shop-product-right.html">تبلت ها</a></li>
                                                <li><a href="shop-product-right.html">لوازم جانبی لپ تاپ</a></li>
                                                <li><a href="shop-product-right.html">لوازم جانبی تبلت</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href="shop-product-right.html"><img src="{%static "imgs/banner/menu-banner.jpg" %}" alt="اوارا"></a>
                                                <div class="menu-banner-content">
                                                    <h4>معاملات داغ</h4>
                                                    <h3>از دست ندهید<br> گرایش</h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">تخفیف تا 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href="shop-product-right.html">اکنون خرید کنید</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>35%</span>
                                                        تخفیف
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog-category-grid.html">بلاگ <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-category-grid.html">موضوعات بلاگ گرید</a></li>
                                        <li><a href="blog-category-list.html">موضوعات بلاگ لیست</a></li>
                                        <li><a href="blog-category-big.html">موضوعات بلاگ بزرگ</a></li>
                                        <li><a href="blog-category-fullwidth.html">موضوعات بلاگ تمام صفحه</a></li>
                                        <li><a href="#">پست تکی <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu level-menu-modify">
                                                <li><a href="blog-post-left.html">سایدبار چپ</a></li>
                                                <li><a href="blog-post-right.html">سایدبار راست</a></li>
                                                <li><a href="blog-post-fullwidth.html">بدون سایدبار</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">صفحات <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="page-about.html">درباره ما</a></li>
                                        <li><a href="page-contact.html">تماس با ما</a></li>
                                        <li><a href="page-account.html">اکانت ما</a></li>
                                        <li><a href="page-login-register.html">ورود/ثبت نام</a></li>
                                        <li><a href="page-purchase-guide.html">راهنمای خرید</a></li>
                                        <li><a href="page-privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                        <li><a href="page-terms.html">شرایط استفاده از خدمات</a></li>
                                        <li><a href="page-404.html">صفحه 404</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="page-contact.html">تماس با ما</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>هات لاین</span> 1900 - 888 </p>
                </div>
                <p class="mobile-promotion">مبارک <span class="text-brand">روز مادر</span>. تخفیف بزرگ تا  40%</p>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="shop-wishlist.html">
                                <img alt="اوارا" src="{%static "imgs/theme/icons/icon-heart.svg" %}">
                                <span class="pro-count white">4</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="shop-cart.html">
                                <img alt="اوارا" src="{%static "imgs/theme/icons/icon-cart.svg" %}">
                                <span class="pro-count white">2</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right.html"><img alt="اوارا" src="{%static "imgs/shop/thumbnail-3.jpg" %}"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right.html">پیراهن های زمستانه ساده</a></h4>
                                            <h3><span>1 × </span> <asd>تومان</asd> 800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right.html"><img alt="اوارا" src="{%static "imgs/shop/thumbnail-4.jpg" %}"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right.html">مک بوک پرو 1402</a></h4>
                                            <h3><span>1 × </span> <asd>تومان</asd> 3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>کل <span> <asd>تومان</asd> 383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href="shop-cart.html">مشاهده سبد خرید</a>
                                        <a href="shop-checkout.html">صورت حساب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="{%static "imgs/theme/logo.svg" %}" alt="لوگو"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="جستجو برای آیتم ها…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> دسته ها را مرور کنید
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>لباس زنانه</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>لباس مردانه</a></li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> تلفن های همراه</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>کامپیوتر و دفتر</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>لوازم الکترونیکی مصرف کننده</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>خانه و باغ</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>کفش</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>مادر و بچه ها</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>تفریح در فضای باز</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">خانه</a>
                            <ul class="dropdown">
                                <li><a href="index.html">خانه 1</a></li>
                                <li><a href="index-2.html">خانه 2</a></li>
                                <li><a href="index-3.html">خانه 3</a></li>
                                <li><a href="index-4.html">خانه 4</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">فروشگاه</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right.html">فروشگاه گرید – سایدبار راست</a></li>
                                <li><a href="shop-grid-left.html">فروشگاه گرید – سایدبار چپ</a></li>
                                <li><a href="shop-list-right.html">لیست فروشگاه – سایدبار راست</a></li>
                                <li><a href="shop-list-left.html">لیست فروشگاه – سایدبار چپ</a></li>
                                <li><a href="shop-fullwidth.html">فروشگاه - تمام صفحه</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">محصول تکی</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">محصول – سایدبار راست</a></li>
                                        <li><a href="shop-product-left.html">محصول – سایدبار چپ</a></li>
                                        <li><a href="shop-product-full.html">محصول – بدون سایدبار</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">فروشگاه – فیلتر</a></li>
                                <li><a href="shop-wishlist.html">فروشگاه – ویش لیست</a></li>
                                <li><a href="shop-cart.html">فروشگاه – کارت</a></li>
                                <li><a href="shop-checkout.html">فروشگاه – صورتحساب</a></li>
                                <li><a href="shop-compare.html">فروشگاه – مقایسه</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">مگا منو</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">مد زنان</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">لباس</a></li>
                                        <li><a href="shop-product-right.html">بلوز و پیراهن</a></li>
                                        <li><a href="shop-product-right.html">پیراهن و پیراهن پیراهن</a></li>
                                        <li><a href="shop-product-right.html">مجموعه های زنان</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">مد مردان</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">کاپشن</a></li>
                                        <li><a href="shop-product-right.html">کیف ابریشم با طراوت</a></li>
                                        <li><a href="shop-product-right.html">چرم اصلی</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">تکنولوژی</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">                                           <li><a href="shop-product-right.html">لپ تاپ های بازی</a></li>
</a></li>
                                        <li><a href="shop-product-right.html">لپتاپ های اولترا شارژ</a></li>
                                        <li><a href="shop-product-right.html">تبلت ها</a></li>
                                        <li><a href="shop-product-right.html">لوازم جانبی لپ تاپ</a></li>
                                        <li><a href="shop-product-right.html">لوازم جانبی تبلت</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">بلاگ</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">موضوعات بلاگ گرید</a></li>
                                <li><a href="blog-category-list.html">موضوعات بلاگ لیست</a></li>
                                <li><a href="blog-category-big.html">موضوعات بلاگ بزرگ</a></li>
                                <li><a href="blog-category-fullwidth.html">موضوعات بلاگ تمام صفحه</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">چیدمان محصول تکی</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">سایدبار چپ</a></li>
                                        <li><a href="blog-post-right.html">سایدبار راست</a></li>
                                        <li><a href="blog-post-fullwidth.html">بدون سایدبار</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">صفحات</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">درباره ما</a></li>
                                <li><a href="page-contact.html">تماس با ما</a></li>
                                <li><a href="page-account.html">اکانت ما</a></li>
                                <li><a href="page-login-register.html">ورود/ثبت نام</a></li>
                                <li><a href="page-purchase-guide.html">راهنمای خرید</a></li>
                                <li><a href="page-privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="page-terms.html">شرایط استفاده از خدمات</a></li>
                                <li><a href="page-404.html">صفحه 404</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">زبان</a>
                            <ul class="dropdown">
                                <li><a href="#">انگلیسی</a></li>
                                <li><a href="#">فرانسوی</a></li>
                                <li><a href="#">آلمانی</a></li>
                                <li><a href="#">اسپانیایی</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  href="page-contact.html"> مکان ما </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">ورود / ثبت نام </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">مارا دنبال کنید</h5>
                <a href="#"><img src="{%static "imgs/theme/icons/icon-facebook.svg" %}" alt=""></a>
                <a href="#"><img src="{%static "imgs/theme/icons/icon-twitter.svg" %}" alt=""></a>
                <a href="#"><img src="{%static "imgs/theme/icons/icon-instagram.svg" %}" alt=""></a>
                <a href="#"><img src="{%static "imgs/theme/icons/icon-pinterest.svg" %}" alt=""></a>
                <a href="#"><img src="{%static "imgs/theme/icons/icon-youtube.svg" %}" alt=""></a>
            </div>
        </div>
    </div>
</div>